.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 12px;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: right;
}
.main {
    margin-left: 160px;
    padding: 0px 10px;
}
.active>.menu-cat {
    color: #fc8019;
    border-right    : 3px solid #E62B1E;
}
.active>.sub-menu {
    color: #000000;
    font-weight: 500;
}
.menu-cat{
    font-weight: 600;
    font-size: 16px;
    color: black; 
}
.sub-menu{
    color: #bbbaba;
}
a{  
    cursor: pointer;
}